{% extends "base.html" %}

{% block title %}Participants{% endblock %}

{% block content %}

<div class="container mt-4">
  <h1 class="mb-4">Events</h1>

  <!-- Search -->
  <form class="mb-4">
    <div class="input-group">
      <input class="form-control" name="search" placeholder="Search by ID/Title/Place/Country"
             type="text" value="{{ search }}">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="table-light">
      <tr>
        <th>
          <a href="?sort=eid&direction={% if sort == 'eid' and direction == 1 %}-1{% else %}1{% endif %}&search={{ search }}">
            Event ID {% if sort == 'eid' %}{% if direction == 1 %}↑{% else %}↓{% endif %}{% endif %}
          </a>
        </th>
        <th>
          <a href="?sort=title&direction={% if sort == 'title' and direction == 1 %}-1{% else %}1{% endif %}&search={{ search }}">
            Title {% if sort == 'title' %}{% if direction == 1 %}↑{% else %}↓{% endif %}{% endif %}
          </a>
        </th>
        <th>
          <a href="?sort=place&direction={% if sort == 'place' and direction == 1 %}-1{% else %}1{% endif %}&search={{ search }}">
            Place {% if sort == 'place' %}{% if direction == 1 %}↑{% else %}↓{% endif %}{% endif %}
          </a>
        </th>
        <th>
          <a href="?sort=country&direction={% if sort == 'country' and direction == 1 %}-1{% else %}1{% endif %}&search={{ search }}">
            Country {% if sort == 'country' %}{% if direction == 1 %}↑{% else %}↓{% endif %}{% endif %}
          </a>
        </th>
        <th>
          <a href="?sort=start_date&direction={% if sort == 'start_date' and direction == 1 %}-1{% else %}1{% endif %}&search={{ search }}">
            Start Date {% if sort == 'start_date' %}{% if direction == 1 %}↑{% else %}↓{% endif %}{% endif %}
          </a>
        </th>
        <th>End Date</th>
        <th># Participants</th>
      </tr>
      </thead>
      <tbody>
      {% for e in events %}
        <tr>
          <td>
            <a href="{{ url_for('events.event_detail',
                                eid=e.eid,
                                page=page or 1,
                                search=search,
                                sort=sort,
                                direction=direction) }}">
              {{ e.eid }}
            </a>
          </td>
          <td>{{ e.title }}</td>
          <td>{{ e.place }}</td>
          <td>{{ e.country }}</td>
          <td>{{ e.start_date.strftime('%Y-%m-%d') if e.start_date else '' }}</td>
          <td>{{ e.end_date.strftime('%Y-%m-%d') if e.end_date else '' }}</td>
          <td>{{ e.participant_count }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="pagination-container">
    {{ pagination.links | safe }}
  </div>
</div>
{% endblock %}
